<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> </title>
  </head>
  <body>
    <h1>About</h1>
<p>
  Score your skills is a basic application which allows the users to sign up as judges to evaluate and post scores for each team based on their skills. 
  </p>
  <p>
  Scores of each team are evaluated on basis of 5 categories.  
  <ol>
    <li> Correctness </li>
    <li> Creativity </li>
    <li> Relevance </li>
    <li> Sustainability </li>
    <li> User Experience </li>
  </ol>
</p>
<p>
 Each category must be given a score on a scale of 5
</p>
  </body>
</html>
