<% provide(:title, 'Contact') %>
<div class= "contactjumbotron">
<h1>Contact</h1>
<center>
<p>
Contact the administrator <a href="mailto:jayasri.sunakra1@gmail.com">Jaya Sri Sunkara </a> for help.
</p>
   
<p>
Do not hesitate to <a href="mailto:jayasri.sunakra1@gmail.com">mail </a> your queries. 
</p>

<p>
Feedback is much appreciated :) 
</p>
</center>
</div>