<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
      <div class="helpjumbotron">
    <h1>Help</h1>
<p>
<p> <center>
Contact the administrator <a href="mailto:jayasri.sunakra1@gmail.com">Jaya Sri Sunkara </a> for help.
</center></p>
</p>
<br>
<br>
<br>
<br>
</div>
  </body>
</html>